body {
	background-color: #1c335d;
	color: #bfd7eb;
	margin: 0px;
	padding: 0px;
}

span {
	color: #8393DD;
}

div {
	border-radius: 20px;
	margin: 10px;
	padding: 20px;
}

ul {
	margin: 0px;
	padding-left: 20px;
}

#container {
	position: absolute;
	width: 970px;
	padding: 0px 0px;
	margin: 0px 0px;
}

#header {
	background-color: #cf2f36;
	color: #c2d7eb;
	border-radius: 10px;
}

#header h1 {
	margin: 0px auto;
}

#navbar {
	display: inline-block;
	background-color: #2a7c8d;
	width: 175px;
	}

#navbar a {
	color: #7aE0F1;
}

#article {
	display: inline-block;
	float: right;
	background-color: #0e1822;
	width: 670px;
}

#article a {
	color: #62d4df;
}

#article h2 {
	margin: 7px 0px 15px;
}

#article li {
	margin: 10px 0;
}

#footer {
	clear: both;
	background-color: #5d6573;
}

#footer a {
	color: #62d4df;
}	